<div class="grid">
  <div class="col-12" style="padding: 10px;">
      <p-divider align="center" type="basic">
        <p-card header="Juan Ramón Lastra Díaz" subheader="Junior Software Engineer">
          <div class="align-items-center">
            <hr>
            <div>
              <i class="pi pi-star" style="padding: 10px;"></i>
              <i class="pi pi-star" style="padding: 10px;"></i>
              <i class="pi pi-star" style="padding: 10px;"></i>
              <i class="pi pi-star" style="padding: 10px;"></i>
              <i class="pi pi-star" style="padding: 10px;"></i>
            </div>
            <hr>
            <br>
            <p-avatar image="assets/images/juan-ramon-lastra-diaz.jpg"
                      size="xlarge" shape="circle">
            </p-avatar>
          </div>
        </p-card>
      </p-divider>
  </div>
</div>
